@model MusicStore.Models.Albums

<div>
    <h4>Albums</h4>
    <hr />
    <div><img src="@Model.AlbumArtUrl" /></div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artists.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artists.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumArtUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumArtUrl)
        </dd>
        @using (Html.BeginForm("AddToCart","ShoppingCart"))
        {
        @*@Html.Hidden("id",Model.AlbumId);*@    
        <dt>数量</dt>
        <dd>
            <input type="text" id="txt-count" name="count" value="1" />
        </dd>
        <dt><input name="id" value="@Model.AlbumId" type="hidden" /></dt>
        <dd><input type="submit" class="btn btn-primary" value="加入购物车" /></dd>
        }
     
    </dl>
</div>
<p>
    @*@Html.ActionLink("加入购物车", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, new { })*@
</p>
